# the "trigger" and "pr" settings define when
# the pipeline will run automatically

# simple trigger: list of branches
# trigger:
# - master
trigger:
  branches:
    include:
    - master
    - release/*
    exclude:
    - release/outdated
  paths:
    exclude:
    - README.md

# pr trigger: automatic builds on pull requests
# targetting certain branches
# default is all pull requests
pr:
- master

jobs:
- job: build_linux
  # pool section defines what agent the job will run on
  pool:
    # get a microsoft-hosted agent running the latest ubuntu linux.
    vmImage: 'ubuntu-latest'

  # job has steps
  steps:
  - script: dotnet build
    displayName: dotnet build
    workingDirectory: RestaurantReviews

- job: build_windows

  pool:
    vmImage: windows-latest
  
  steps:
  - task: NuGetToolInstaller@1
    displayName: install nuget
    inputs:
      versionSpec:

  - task: NuGetCommand@2
    displayName: nuget restore
    inputs:
      command: 'restore'
      restoreSolution: '**/*.sln'
      feedsToUse: 'select'

  - task: VSBuild@1
    displayName: Visual Studio build
    inputs:
      solution: '**\*.sln'
      platform: 'Any CPU'
      configuration: 'Release'
