# the "trigger" and "pr" settings define when
# the pipeline will run automatically

# simple trigger: list of branches
# trigger:
# - master
trigger:
  branches:
    include:
    - master
    - release/*
    exclude:
    - release/outdated
  paths:
    exclude:
    - README.md

# pr trigger: automatic builds on pull requests
# targetting certain branches
# default is all pull requests
pr:
- master

variables:
  solutionPath: RestaurantReviews

jobs:
- job: build_linux
  # pool section defines what agent the job will run on
  pool:
    # get a microsoft-hosted agent running the latest ubuntu linux.
    vmImage: 'ubuntu-latest'

  # job has steps
  steps:
  - script: dotnet build -c Release
    displayName: dotnet build
    workingDirectory: $(solutionPath)

  - task: DotNetCoreCLI@2
    displayName: dotnet test
    inputs:
      command: 'test'
      projects: '$(solutionPath)'
      arguments: '-c Release'
      testRunTitle: 'ubuntu'

  - script: dotnet publish -c Release -o ../publish
    displayName: dotnet publish
    workingDirectory: $(solutionPath)

  - task: AzureRmWebAppDeployment@4
    inputs:
      ConnectionType: 'AzureRM'
      azureSubscription: 'Pay-As-You-Go(0518cd5b-d389-4983-9496-cdcae31dcc60)'
      appType: 'webApp'
      WebAppName: '2006-restaurantreviews'
      packageForLinux: '$(System.DefaultWorkingDirectory)/publish'

- job: build_windows

  pool:
    vmImage: windows-latest
  
  steps:
  - task: NuGetToolInstaller@1
    displayName: install nuget
    inputs:
      versionSpec:

  - task: NuGetCommand@2
    displayName: nuget restore
    inputs:
      command: 'restore'
      restoreSolution: '**/*.sln'
      feedsToUse: 'select'

  - task: VSBuild@1
    displayName: Visual Studio build
    inputs:
      solution: '**\*.sln'
      platform: 'Any CPU'
      configuration: 'Release'

  - task: VSTest@2
    inputs:
      testSelector: 'testAssemblies'
      testAssemblyVer2: |
        **\*test*.dll
        !**\*TestAdapter.dll
        !**\obj\**
      searchFolder: '$(System.DefaultWorkingDirectory)'
      codeCoverageEnabled: true
      testRunTitle: 'windows'
      platform: 'Any CPU'
      configuration: 'Release'
